.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  width: 100%;
  margin: 0 auto 0;
  padding-top: 56px;
}

@media (max-width: 1025px) {
  .lead {
      max-width: 928px;
      padding-top: 48px;
  }
}
